<app-header [title]="'Recepcionistas'" [subTitle]="'| Painel de Atendimento - Guichê'" [tabs]="tabs"
  [selectedTab]="selectedTab"></app-header>

<app-button [title]="'Chamar Próximo Ticket'" class="button" (click)="openModalNextTicket()"></app-button>

<app-guiche-panel></app-guiche-panel>

<app-overlay-modal [isOpen]="openModal()">
  <div>
    <h2>Chamar próximo ticket</h2>
    <p>Escolha o seu guichê:</p>
    <div>
      <label for="guiche">Número do Guichê:</label>
      <input type="number" id="guiche" #guicheInput />
      <app-button
        [title]="'Chamar Próximo'"
        (click)="chamarProximo(guicheInput.value)">
        Chamar Próximo
      </app-button>
    </div>
  </div>
</app-overlay-modal>
