<header>
  <h1> Olá! Seja bem vindo </h1>
  <h3> Por gentileza escolha seu tipo de atendimento para retirar seu ticket: </h3>
</header>

<section>
  <ul>
    <li (click)="createTicket('Normal')"> Normal </li>
    <li (click)="createTicket('Preferencial')"> Preferêncial</li>
    <li (click)="createTicket('Urgente')"> Urgente </li>
  </ul>
</section>

@if (generatedTicket) {
<div class="ticket-info">
  <h2>Seu ticket foi gerado:</h2>
  <p><strong>Senha:</strong> {{ generatedTicket.password }}</p>
  <p><strong>Tipo:</strong> {{ generatedTicket.type }}</p>
</div>
}
